:root {
  /* Typography */
  --font-family: "Roboto", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-12: clamp(10px, 0.7vw, 12px);
  --fs-14: clamp(12px, 0.9vw, 14px);
  --fs-16: clamp(14px, 1vw, 16px);
  --fs-18: clamp(15px, 1.1vw, 18px);
  --fs-20: clamp(16px, 1.3vw, 20px);
  --fs-24: clamp(18px, 1.6vw, 24px);
  --fs-40: clamp(28px, 3vw, 40px);
  --fs-80: clamp(42px, 6vw, 80px);

  /* Motion */
  --transition-fast: 150ms ease;
  --transition-base: 250ms ease;

  /* Shadows */
  --shadow-card: 0 8px 24px rgba(0, 0, 0, 0.06);
  --shadow-modal: 0 12px 40px rgba(0, 0, 0, 0.15);
  --shadow-mobile-menu: -12px 0 24px rgba(0, 0, 0, 0.08);

  /* Text */
  --color-text-primary: #121417;
  --color-text-secondary: #8a8a89;
  --color-text-inverse: #fff;

  /* Backgrounds */
  --color-bg-page: #fff;
  --color-bg-surface: #f8f8f8;
  --color-bg-btn-reg: #121417;
}

:root[data-theme="yellow"] {
  --color-accent: #f4c550;
  --color-accent-hover: #fbe9ba;
}

:root[data-theme="green"] {
  --color-accent: #9fbaae;
  --color-accent-hover: #cbded3;
}

:root[data-theme="blue"] {
  --color-accent: #9fb7ce;
  --color-accent-hover: #bfd6ea;
}

:root[data-theme="peachRose"] {
  --color-accent: #e0a39a;
  --color-accent-hover: #f2c0bd;
}

:root[data-theme="softPeach"] {
  --color-accent: #f0aa8d;
  --color-accent-hover: #f4c8ba;
}
