.Teachers {
  display: flex;
  padding: 96px 0;
}
.Teachers__counter_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Teachers__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.btn {
  margin-top: 64px;
  border-radius: 12px;
  padding: 16px 48px;
  width: avto;
  height: 60px;
  background: var(--color-accent);
  font-weight: var(--fw-bold);
  font-size: var(--fs-18);
  line-height: 1.56;
}
.btn:hover {
  background: var(--color-accent-hover);
}
.Teacher__filter__box {
  margin-bottom: 32px;
}
