@import './styles/variables.css';
@import './styles/base.css';
@import './components/Header/header.css';
@import './components/Container/container.css';
@import './components/Modal-Register/modalRegister.css';
@import './components/Hero/hero.css';
@import './pages/Not-found/not-found.css';
