@import './styles/variables.css';
@import './styles/fonts.css';
@import './styles/base.css';
@import './styles/toastify.min.css';

@import './components/Header/header.css';
@import './components/Container/container.css';
@import './components/Modal-Register/modalRegister.css';
@import './components/Hero/hero.css';
@import './components/TeacherCard/teacherCard.css';
@import './components/Filter/filter.css';
@import './components/Modal-Trial/modalTrial.css';

@import './pages/Not-found/not-found.css';
@import './pages/Teachers/teachers.css';
